header {
  font-family: "Roboto-Sans-serif";
  background-color: #119c85;
  /* padding: 1.5rem; */
}

.navbar-icon {
  font-size: 2rem;
  color: white;
}



.nav-link {
  color: white;
  font-size: 1rem;
}
.nav-link:hover {
  color:rgb(227, 243, 8);
  text-decoration:underline;
  transition-duration: 0.3s;
}
.nav-link:focus {
  color:rgb(227, 243, 8);
}
